<div class="footer-container">
    <div class="footer-col footer-brand">
        <h3 class="footer-logo">CLEVELAND</h3>
        <ul class="footer-contact">
            <li>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.02-.24c1.12.37 2.33.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1C10.4 21 3 13.6 3 4.5a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.24.2 2.45.57 3.57a1 1 0 0 1-.25 1.02l-2.2 2.2z"></path></svg>
                <a href="tel:+582556210355">0255 – 6210355</a>
            </li>
            <li>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.02-.24c1.12.37 2.33.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1C10.4 21 3 13.6 3 4.5a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.24.2 2.45.57 3.57a1 1 0 0 1-.25 1.02l-2.2 2.2z"></path></svg>
                <a href="tel:+584265651893">0426 - 5651893</a>
            </li>
            <li>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.02-.24c1.12.37 2.33.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1C10.4 21 3 13.6 3 4.5a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.24.2 2.45.57 3.57a1 1 0 0 1-.25 1.02l-2.2 2.2z"></path></svg>
                <a href="tel:+584160259122">0416 - 0259122</a>
            </li>
            <li>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm0 2v.01L12 13l8-6.99V6H4zm16 2.24-7.4 6.47a1 1 0 0 1-1.2 0L4 8.24V18h16V8.24z"></path></svg>
                <a href="mailto:english_academy2002@hotmail.com">english_academy2002@hotmail.com</a>
            </li>
        </ul>
        <!-- Redes Sociales -->
        <div class="footer-socials">
            <a href="#" class="social-circle" aria-label="Facebook">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22 12a10 10 0 1 0-11.56 9.88v-6.99H7.9V12h2.54V9.8c0-2.5 1.49-3.89 3.78-3.89 1.1 0 2.24.2 2.24.2v2.46h-1.26c-1.24 0-1.63.77-1.63 1.56V12h2.78l-.44 2.89h-2.34v6.99A10 10 0 0 0 22 12z"></path></svg>
            </a>
            <a href="#" class="social-circle" aria-label="Twitter">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22 5.9c-.74.33-1.53.55-2.36.65a4.13 4.13 0 0 0 1.81-2.28c-.8.47-1.68.81-2.62 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.46-4.29 4.1 4.1 0 0 0 1.27 5.47 4.07 4.07 0 0 1-1.86-.51v.05a4.1 4.1 0 0 0 3.29 4.02c-.61.17-1.25.19-1.85.07a4.11 4.11 0 0 0 3.83 2.85A8.23 8.23 0 0 1 2 19.13a11.6 11.6 0 0 0 6.29 1.84c7.55 0 11.68-6.26 11.68-11.68l-.01-.53c.8-.58 1.5-1.3 2.04-2.13z"></path></svg>
            </a>
            <a href="#" class="social-circle" aria-label="YouTube">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 6.5a3 3 0 0 0-2.1-2.1C19.6 4 12 4 12 4s-7.6 0-9.4.4A3 3 0 0 0 .5 6.5 31 31 0 0 0 0 12a31 31 0 0 0 .5 5.5 3 3 0 0 0 2.1 2.1C4.4 20 12 20 12 20s7.6 0 9.4-.4a3 3 0 0 0 2.1-2.1A31 31 0 0 0 24 12a31 31 0 0 0-.5-5.5zM9.6 15.5v-7L15.8 12l-6.2 3.5z"></path></svg>
            </a>
        </div>
    </div>

    <div class="footer-col footer-levels">
        <h4>Curso De Inglés – Niveles</h4>
        <ul>
                <li><a href="/cursos/beginner.html">Beginner</a></li>
                <li><a href="/cursos/elementary.html">Elementary</a></li>
                <li><a href="/cursos/pre-intermediate.html">Pre-Intermediate</a></li>
                <li><a href="/cursos/Intermediate.html">Intermediate</a></li>
                <li><a href="/cursos/advance.html">Advance</a></li>
                <li><a href="/cursos/advance_plus.html">Advance Plus</a></li>
        </ul>
    </div>

    <div class="footer-col footer-actions">
        <a href="#" class="footer-btn footer-btn-outline">Suscríbete</a>
        <a href="#" class="footer-btn footer-btn-solid">Ingresar</a>
    </div>
</div>

<div class="footer-bottom">
    <p>Cleveland English Institute 2026 – Todos los derechos reservados <a href="#">Cleveland English Institute </a></p>
    <button type="button" id="backToTop" class="back-to-top" aria-label="Volver arriba">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4l-7 7h4v9h6v-9h4z"></path>
        </svg>
    </button>
</div>