<div class="nav-container">
    <div class="logo">
        <img src="/img/Untitled.png" alt="Cleveland Logo" class="cleveland-logo">
    </div>

    <ul class="nav-menu">
        <li><a href="/index.html">Home</a></li>
        <!-- <li><a href="/blog/blog.html">Blog</a></li> -->
        <li class="nav-dropdown">
            <a href="/about_us/about_us.html" class="dropdown-toggle">Cleveland</a>
            <ul class="dropdown-menu">
                <li><a href="/about_us/about_us.html">La empresa</a></li>
                <li><a href="/about_us/mision_vision.html">Misión y Visión</a></li>
                <li><a href="/about_us/responsabilidad.html">Responsabilidad Social</a></li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a class="dropdown-toggle">Cursos</a>
            <ul class="dropdown-menu">
                <li><a href="/cursos/beginner.html">Beginner</a></li>
                <li><a href="/cursos/elementary.html">Elementary</a></li>
                <li><a href="/cursos/pre-intermediate.html">Pre-Intermediate</a></li>
                <li><a href="/cursos/Intermediate.html">Intermediate</a></li>
                <li><a href="/cursos/advance.html">Advance</a></li>
                <!-- <li><a href="/cursos/advance_plus.html">Advance Plus</a></li> -->
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Cleveland School Program</a>
            <ul class="dropdown-menu">
                <li><a href="/school_program/school_program.html">Cleveland School Program</a></li>
                <li><a href="/school_program/eventos.html">Eventos</a></li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Planes</a>
            <ul class="dropdown-menu">
                <li><a href="/planes/planes.html">Ver todos los planes</a></li>
              <!--  <li><a href="/planes/planes.html">Online</a></li>
                <li><a href="/planes/planes.html">Presencial</a></li>
                <li><a href="/planes/planes.html">Sabatino</a></li>
                <li><a href="/planes/planes.html">Scholarships</a></li> -->
            </ul>
        </li>
        <li><a href="/contact/contact.html">Contacto</a></li>
    </ul>

    <!-- Botón Ingresar con enlace a lab.cursoscleveland.com -->
    <a href="https://lab.cursoscleveland.com/login/index.php" target="_blank" class="animated-button" rel="noopener noreferrer" style="text-decoration: none;">
        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716z"></path>
        </svg>
        <span class="text">Ingresar</span>
        <span class="circle"></span>
        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716z"></path>
        </svg>
    </a>
</div>